{%- liquid
  assign current_variant = product.selected_or_first_available_variant
-%}
<div
  id="ProductInfo-{{ section.id }}"
  class="f-product-single__blocks{% if enable_sticky_info %} sticky-element{% endif %}"
>
  {%- assign product_form_id = 'product-form-' | append: section.id -%}

  {%- for block in section.blocks -%}
    <div class="f-product-single__block f-product-single__block--{{ block.type }}" {{ block.shopify_attributes }}>
      {%- case block.type -%}
        {%- when '@app' -%}
          <div class="f-product__app-block">
            {% render block %}
          </div>
        {%- when 'rating' -%}
          {%- render 'product-rating', product: product, block: block -%}
        {%- when 'text' -%}
          <p
            class="f-product__text flex items-center{% if block.settings.text_style == 'uppercase' %} text-upper{% elsif block.settings.text_style == 'subtitle' %} text-upper text-subtext{% endif %}"
            {{ block.shopify_attributes }}
          >
            {% unless block.settings.icon == blank %}
              {% render 'icon', name: block.settings.icon %}
            {% endunless %}
            <span>{{- block.settings.text -}}</span>
          </p>
        {%- when 'richtext' -%}
          {% if block.settings.text != blank %}
            <div class="rte">
              {{ block.settings.text }}
            </div>
          {% endif %}
        {%- when 'image' -%}
          {% if block.settings.image != blank %}
            {% liquid
              assign image_link = block.settings.image_link
              assign image = block.settings.image
            %}
            <div class="flex justify-{{ block.settings.image_alignment }}">
              <div class="bottom-block__image" style="width: {{ block.settings.image_width }}%">
                {% if image_link != blank %}<a href="{{ image_link }}" class="block">{% endif %}
                <responsive-image
                  class="f-image {{ wrapper_class }}"
                  data-image-loading
                  style="--aspect-ratio: {{ block.settings.image.aspect_ratio }}"
                >
                  <img
                    srcset="
                      {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                      {{ image | image_url }} {{ image.width }}w
                    "
                    src="{{ image | image_url: width: 360 }}"
                    sizes="50vw"
                    alt="{{ block.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ image.width }}"
                    height="{{ image.height }}"
                  >
                </responsive-image>
                {% if image_link != blank %}</a>{% endif %}
              </div>
            </div>
          {% endif %}
        {%- when 'trust_badge' -%}
          {% if block.settings.trust_badges_image != blank %}
            {% assign trust_badges_image = block.settings.trust_badges_image %}
            {% assign position = block.settings.position %}
            <div class="f-product-single__trust-badges text-center flex flex-col {{ position | default: 'below' }}">
              <div style="width: {{ block.settings.trust_badges_image_width }};">
                <responsive-image
                  class="f-image {{ wrapper_class }}"
                  data-image-loading
                  style="--aspect-ratio: {{ block.settings.trust_badges_image.aspect_ratio }}"
                >
                  <img
                    srcset="
                      {%- if trust_badges_image.width >= 165 -%}{{ trust_badges_image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if trust_badges_image.width >= 360 -%}{{ trust_badges_image | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if trust_badges_image.width >= 533 -%}{{ trust_badges_image | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if trust_badges_image.width >= 720 -%}{{ trust_badges_image | image_url: width: 720 }} 720w,{%- endif -%}
                      {{ trust_badges_image | image_url }} {{ trust_badges_image.width }}w
                    "
                    src="{{ trust_badges_image | image_url: width: 360 }}"
                    sizes="50vw"
                    alt="{{ trust_badges_image.alt | escape }}"
                    loading="lazy"
                    width="{{ trust_badges_image.width }}"
                    height="{{ trust_badges_image.height }}"
                  >
                </responsive-image>
              </div>
              {% if block.settings.trust_badges_text != blank %}
                <div class="h4">{{ block.settings.trust_badges_text }}</div>
              {% endif %}
            </div>
          {% endif %}
        {%- when 'title' -%}
          {%- liquid
            assign tag = 'h1'
            if is_featured_product
              assign tag = 'h2'
            endif
          -%}
          <{{ tag }} class="f-product-single__title m-0 {{ block.settings.heading_size }}">
            {{ product.title | escape }}
          </{{ tag }}>
        {%- when 'price' -%}
          <div id="Price-{{ section.id }}" role="status">
            {%- render 'price',
              product: product,
              use_variant: true,
              show_sale_badge: block.settings.show_sale_badge,
              sale_badge_type: block.settings.sale_badge_type,
              show_soldout_badge: true,
              price_class: 'f-price--large text-lg sm:text-xl'
            -%}
          </div>
          {%- if shop.taxes_included -%}
            <div class="f-product-single__block-tax text-subtext">
              {{- 'products.product.include_taxes' | t -}}
            </div>
          {%- endif -%}
          {%- if product.quantity_price_breaks_configured? -%}
            <div class="volume-pricing__note text-sm text-subtext" id="VolumeNote-{{ section.id }}">
              {{- 'products.volume_pricing.note' | t -}}
            </div>
          {%- endif -%}
          <div>
            {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'installment' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div>
        {%- when 'description' -%}
          {%- if product.description != blank -%}
            <div class="f-product__description rte">
              {{ product.description }}
            </div>
            {% if is_featured_product == true %}
              <a href="{{ product.url }}" class="btn btn-view-details btn--underline btn--with-icon">
                <span>{{- 'products.product.view_full_details' | t -}}</span>
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.5 8.50391H13.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9 4.00391L13.5 8.50391L9 13.0039" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            {% endif %}
          {%- endif -%}
        {%- when 'vendor' -%}
          {%- if product.vendor != blank -%}
            <div class="f-product__vendor text-subheading">
              {{ product.vendor | link_to_vendor }}
            </div>
          {%- endif -%}
        {%- when 'type' -%}
          {%- if product.type != blank -%}
            <div class="f-product__type text-subheading">
              {{ product.type | link_to_type }}
            </div>
          {%- endif -%}
        {%- when 'meta' -%}
          <ul class="f-product-meta list-none">
            {% if block.settings.show_availability %}
              <li id="Availability-{{ section.id }}">
                <span class="f-product-meta__label">{{ 'products.product.meta.availability' | t }}:</span>
                <div
                  class="f-product-meta__value f-product-meta__availability{% unless current_variant.available %} out-of-stock{% endunless %}"
                  data-product-availability
                >
                  {%- if current_variant.available -%}
                    {{- 'products.product.meta.instock' | t -}}
                  {%- else -%}
                    {{- 'products.product.meta.out_of_stock' | t -}}
                  {%- endif -%}
                </div>
              </li>
            {% endif %}
            {% if block.settings.show_sku %}
              {% assign default_sku = 'products.product.meta.no_sku' | t %}
              <li id="Sku-{{ section.id }}">
                <span class="f-product-meta__label">{{ 'products.product.meta.sku' | t }}:</span>
                <div class="f-product-meta__value" data-product-sku>
                  {{ current_variant.sku | default: default_sku }}
                </div>
              </li>
            {% endif %}
            {% if block.settings.show_vendor and product.vendor != blank %}
              <li>
                <span class="f-product-meta__label">{{ 'products.product.vendor' | t }}:</span>
                <div class="f-product-meta__value">{{ product.vendor | link_to_vendor }}</div>
              </li>
            {% endif %}
            {% if block.settings.show_type and product.type != blank %}
              <li>
                <span class="f-product-meta__label">{{ 'products.product.meta.type' | t }}:</span>
                <div class="f-product-meta__value">{{ product.type | link_to_type }}</div>
              </li>
            {% endif %}
            {% if block.settings.show_collections and product.collections.size > 0 %}
              <li>
                <span class="f-product-meta__label">{{ 'products.product.meta.collections' | t }}:</span>
                <div class="f-product-meta__value">
                  {% for collection in product.collections %}
                    <a href="{{ collection.url }}" class="hover:text-black">
                      {{ collection.title }}
                      {%- if forloop.last != true -%},{%- endif -%}
                    </a>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
            {% if block.settings.show_tags and product.tags.size > 0 %}
              <li>
                <span class="f-product-meta__label">{{ 'products.product.meta.tags' | t }}:</span>
                <div class="f-product-meta__value">
                  {% for tag in product.tags %}
                    {% assign tag_handle = tag | handleize %}
                    <a href="{{ routes.all_products_collection_url | append: '/' | append: tag_handle }}">
                      {{- tag -}}
                    </a>
                    {%- if forloop.last != true -%},{%- endif -%}
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          </ul>
        {%- when 'custom_liquid' -%}
          {{ block.settings.custom_liquid }}
        {%- when 'divider' -%}
          <hr>
        {%- when 'custom_field' -%}
          {% liquid
            assign label_hidden = false
            assign field_type = block.settings.field_type
            assign field_options = block.settings.field_options
            assign field_name = block.settings.title
            assign field_placeholder = block.settings.field_placeholder
            assign field_required = block.settings.field_required
            assign show_at_checkout = block.settings.show_at_checkout
            if field_name == blank
              assign label_hidden = true
              assign field_name = 'Custom field ' | append: forloop.index
            endif
          %}

          <div class="form-field" data-product-custom-field="{{ field_type }}">
            <label class="form-label font-medium{% if label_hidden %} hidden{% endif %}" for="{{ block.id }}">
              {{ field_name -}}
              {%- if field_required -%}
                <sup>*</sup>
              {%- endif %}
            </label>
            {% unless show_at_checkout %}
              {% assign field_name = field_name | prepend: '_' %}
            {% endunless %}
            {% case field_type %}
              {% when 'text' %}
                <input
                  type="text"
                  id="{{ block.id }}"
                  class="form-control"
                  placeholder="{{ field_placeholder }}"
                  name="properties[{{- field_name -}}]"
                  {% if field_required %}
                    required
                  {% endif %}
                  form="{{ product_form_id }}"
                >
              {% when 'textarea' %}
                <textarea
                  id="{{ block.id }}"
                  class="form-control form-control--textarea"
                  placeholder="{{ field_placeholder }}"
                  name="properties[{{- field_name -}}]"
                  {% if field_required %}
                    required
                  {% endif %}
                  form="{{ product_form_id }}"
                ></textarea>
              {% when 'select' %}
                {% assign options = field_options | newline_to_br | split: '<br />' %}
                <select
                  id="{{ block.id }}"
                  class="form-control"
                  name="properties[{{- field_name -}}]"
                  {% if field_required %}
                    required
                  {% endif %}
                  form="{{ product_form_id }}"
                >
                  {% if field_placeholder != blank %}
                    <option value="">{{ field_placeholder }}</option>
                  {% endif %}
                  {% for option in options %}
                    {%- assign option = option | strip | strip_newlines -%}
                    <option value="{{- option -}}" label="{{ option }}">{{ option }}</option>
                  {% endfor %}
                </select>
            {% endcase %}
          </div>
        {%- when 'quantity_selector' -%}
          <div class="f-product-single__info-quantity">
            {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}  
            <div class="f-quantity__wrapper {{ class }}" id="QuantityForm-{{ section.id }}">
              <label class="form-label font-body-bolder quantity__label" for="Quantity-{{ section.id }}-{{ product.id }}">
                <span>{{- 'products.product.quantity.label' | t -}}</span>
                <span id="QuantityRulesCart-{{ section.id }}" class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %} relative">
                  <span class="quantity-cart font-medium">({{ 'products.quantity.in_cart_html' | t: quantity: cart_qty }})</span>
                </span>
              </label>
              <div class="flex">
                <quantity-input class="f-quantity" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}">
                  <button class="f-quantity__button btn btn--plain no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                    </span>
                    <svg width="16" height="16" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.6875 7H12.3125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <input
                    id="Quantity-{{ section.id }}-{{ product.id }}"
                    class="f-quantity__input quantity__input form-control"
                    type="number"
                    name="quantity"
                    inputmode="numeric"
                    autocomplete="off"
                    data-quantity-variant-id="{{ product.selected_or_first_available_variant.id }}"
                    data-cart-quantity="{{ cart_qty }}"
                    data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                      data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                      max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                  >
                  <button class="f-quantity__button btn btn--plain no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                    </span>
                    <svg width="16" height="16" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.6875 7H12.3125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7.5 2.1875V11.8125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </quantity-input>
  
                {%- if product.quantity_price_breaks_configured? -%}
                  {%- liquid
                    assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
                    assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
                    if cart_qty > 0
                      assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
                    endif
                    assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price
                  -%}
                  <price-per-item
                    id="PricePerItem-{{ section.id }}"
                    class="price flex flex-wrap items-center"
                    data-section-id="{{ section.id }}"
                    data-product-id="{{ product.id }}"
                    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                  >
                    {%- if variant_price_compare -%}
                      <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                      <span class="price__sale inline-flex items-center h-auto relative">
                        {%- liquid
                          if settings.currency_code_enabled
                            echo variant_price_compare | money_with_currency
                          else
                            echo variant_price_compare | money
                          endif
                        -%}
                      </span>
                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                    {%- endif -%}
                    
                    {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                      {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                        {%- liquid
                          if settings.currency_code_enabled
                            assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                          else
                            assign variant_price = product.selected_or_first_available_variant.price | money
                          endif
                        -%}
                        <span class="price-per-item--current price__regular whitespace-nowrap">
                          {{- 'products.volume_pricing.price_at_each' | t: price: variant_price -}}
                        </span>
                      {%- else -%}
                        {%- for price_break in volume_pricing_array -%}
                          {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                            {%- liquid
                              if settings.currency_code_enabled
                                assign price_break_price = price_break.price | money_with_currency
                              else
                                assign price_break_price = price_break.price | money
                              endif
                            -%}
                            <span class="price-per-item--current price__regular whitespace-nowrap">
                              {{- 'products.volume_pricing.price_at_each' | t: price: price_break_price -}}
                            </span>
                            {%- break -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    {%- else -%}
                      <span class="price-per-item--current price__regular whitespace-nowrap">
                        {%- liquid
                          if settings.currency_code_enabled
                            assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                          else
                            assign variant_price = product.selected_or_first_available_variant.price | money
                          endif
                        -%}
                        {{- 'products.volume_pricing.price_at_each' | t: price: variant_price -}}
                      </span>
                    {%- endif -%}
                  </price-per-item>
                {%- endif -%}
              </div>
              <div class="quantity__rules" id="QuantityRules-{{ section.id }}">
                {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                  <span class="divider">
                    {{- 'products.quantity.multiples_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment -}}
                  </span>
                {%- endif -%}
                {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                  <span class="divider">
                    {{- 'products.quantity.minimum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.min -}}
                  </span>
                {%- endif -%}
                {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                  <span class="divider">
                    {{- 'products.quantity.maximum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.max -}}
                  </span>
                {%- endif -%}
              </div>
            </div>

            {%- if product.quantity_price_breaks_configured? -%}
              <volume-pricing class="volume-pricing parent-display" id="Volume-{{ section.id }}">
                {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                  <span class="volume-pricing__heading font-medium">{{ 'products.volume_pricing.title' | t }}</span>
                  <ul class="list-unstyled">
                    <li class="text-sm">
                      <div class="flex justify-between">
                        <span class="font-medium">{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                        {%- liquid
                          if settings.currency_code_enabled
                            assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                          else
                            assign variant_price = product.selected_or_first_available_variant.price | money
                          endif
                        -%}
                        <span data-text="{{ 'products.volume_pricing.price_at_each' | t: price: variant_price }}">
                          {{- 'sections.quick_order_list.each' | t: money: variant_price -}}
                        </span>
                      </div>
                    </li>
                    {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                      {%- liquid
                        if settings.currency_code_enabled
                          assign price_break_price = price_break.price | money_with_currency
                        else
                          assign price_break_price = price_break.price | money
                        endif
                      -%}
                      <li class="text-sm {% if forloop.index >= 3 %} show-more-item hidden{% endif %}">
                        <div class="flex justify-between">
                          <span class="font-medium">
                            {{- price_break.minimum_quantity -}}
                            <span aria-hidden="true">+</span>
                          </span>
                          <span data-text="{{ 'products.volume_pricing.price_at_each' | t: price: price_break_price }}">
                            {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                          </span>
                        </div>
                      </li>
                    {%- endfor -%}
                  </ul>
                  {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                    <show-more-button>
                      <button
                        class="button-show-more link text-sm btn btn--underline no-js-hidden"
                        id="Show-More-{{ section.id }}-{{ product.id }}"
                        type="button"
                      >
                        <span class="label-show-more label-text">{{ 'products.facets.show_more' | t }}</span>
                        <span class="label-show-less label-text hidden">{{ 'products.facets.show_less' | t }}</span>
                      </button>
                    </show-more-button>
                  {%- endif -%}
                {%- endif -%}
              </volume-pricing>
            {%- endif -%}
          </div>
        {%- when 'addons' -%}
          {% liquid
            assign show_share = block.settings.show_share
            assign show_ask_question = block.settings.show_ask_question
            assign share_url = product.selected_or_first_available_variant.url | default: product.url | prepend: request.origin
          %}
          {%- if show_share -%}
            <script src="{{ 'share-button.js' | asset_url }}" defer></script>
          {%- endif -%}
          {% if show_share or show_ask_question %}
            <div class="f-product-single__addon-buttons flex items-center">
              {% if show_share %}
                <modal-opener class="no-js-hidden" data-modal="#PopupModal-Sharing-{{ section.id }}">
                  <button
                    class="btn btn--with-icon btn--plain"
                    aria-haspopup="dialog"
                    aria-label="{{ 'products.product.share_label' | t }}"
                  >
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                    >
                      <path d="M2.4168 15.525C3.70274 14.1555 7.07852 11.25 11.8754 11.25V15L18.1254 8.75L11.8754 2.5V6.25C7.7504 6.25 2.46212 10.1914 1.8754 15.2766C1.86728 15.3424 1.88032 15.4091 1.91265 15.4671C1.94498 15.525 1.99491 15.5712 2.05522 15.5988C2.11552 15.6265 2.18307 15.6343 2.24807 15.621C2.31308 15.6077 2.37218 15.5741 2.4168 15.525Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="font-body text-medium text-normal">{{ 'products.product.share_label' | t }}</span>
                  </button>
                </modal-opener>
                {% assign modal_id = 'Sharing-' | append: section.id %}
                <modal-dialog id="PopupModal-{{ modal_id }}" class="f-modal hidden" style="--modal-width: 600px">
                  <div class="f-modal__content" role="dialog" aria-label="{{ label }}" aria-modal="true" tabindex="-1">
                    <div class="scroll-container">
                      <button
                        id="ModalClose-{{ modal_id }}"
                        type="button"
                        class="f-modal__close"
                        aria-label="{{ 'accessibility.close' | t }}"
                      >
                        {% comment %} theme-check-disable {% endcomment %}
                        {{ 'icon-close.svg' | inline_asset_content }}
                        {% comment %} theme-check-enable {% endcomment %}
                      </button>
                      <div class="f-modal__inner">
                        <h3 class="h5">{{ 'products.product.share' | t }}</h3>
                        <share-button class="f-sharing__copy-link">
                          <input
                            data-share-url
                            type="text"
                            class="form-control"
                            value="{{ share_url }}"
                          >
                          <button class="btn btn-copy" data-copied-text="{{ 'general.share.copied' | t }}">
                            {{ 'general.share.copy' | t }}
                          </button>
                        </share-button>
                        {% render 'social-sharing',
                          url: product.url,
                          share_image: product.featured_media.preview_image
                        %}
                      </div>
                    </div>
                  </div>
                </modal-dialog>
              {% endif %}
              {% if show_ask_question %}
                <modal-opener class="no-js-hidden" data-modal="#PopupModal-AskQuestionForm-{{ section.id }}">
                  <button
                    class="btn btn--with-icon btn--plain"
                    aria-label="{{ 'products.product.question_form.label' | t }}"
                  >
                    <svg
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                    >
                      <path d="M10 15C10.5178 15 10.9375 14.5803 10.9375 14.0625C10.9375 13.5447 10.5178 13.125 10 13.125C9.48223 13.125 9.0625 13.5447 9.0625 14.0625C9.0625 14.5803 9.48223 15 10 15Z" fill="currentColor"/>
                      <path d="M10 11.25V10.625C11.3805 10.625 12.5 9.64531 12.5 8.4375C12.5 7.22969 11.3805 6.25 10 6.25C8.61953 6.25 7.5 7.22969 7.5 8.4375V8.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="font-body text-medium text-normal">
                      {{- 'products.product.question_form.label' | t -}}
                    </span>
                  </button>
                </modal-opener>
                {% assign modal_id = 'AskQuestionForm-' | append: section.id %}
                <modal-dialog id="PopupModal-{{ modal_id }}" class="f-modal hidden" style="--modal-width:600px">
                  <div class="f-modal__content" role="dialog" aria-label="{{ label }}" aria-modal="true" tabindex="-1">
                    <div class="scroll-container">
                      <button
                        id="ModalClose-{{ modal_id }}"
                        type="button"
                        class="f-modal__close"
                        aria-label="{{ 'accessibility.close' | t }}"
                      >
                        {% comment %} theme-check-disable {% endcomment %}
                        {{ 'icon-close.svg' | inline_asset_content }}
                        {% comment %} theme-check-enable {% endcomment %}
                      </button>
                      <div class="f-modal__inner">
                        {% render 'ask-question-form' %}
                      </div>
                    </div>
                  </div>
                </modal-dialog>
              {% endif %}
            </div>
          {% endif %}
        {%- when 'variant_picker' -%}
          {% liquid
            assign size_title = block.settings.size_title
            assign size_title = block.settings.size_title
            assign size_chart = product.metafields.foxtheme.size_chart

            if size_chart == blank and block.settings.size_chart_from_page != blank
              assign size_chart = pages[block.settings.size_chart_from_page].content
            endif

            assign show_size_chart = false
            if size_chart != blank
              assign show_size_chart = true
            endif
          %}
          {% render 'variant-picker',
            product: product,
            show_selected_value: block.settings.variant_picker_show_selected,
            disable_default_variant: block.settings.variant_picker_dont_select_the_default_variant,
            size_title: size_title,
            show_size_chart: show_size_chart,
            update_browser_history: update_browser_history,
            product_form_id: product_form_id,
            color_schema: 'background-1',
            block: block,
            picker_type: block.settings.picker_type
          %}
          {% if size_chart != blank and show_size_chart %}
            {% assign modal_id = 'SizeChart-' | append: section.id %}
            <modal-dialog id="PopupModal-{{ modal_id }}" class="f-modal hidden" style="--modal-width:800px">
              <div class="f-modal__content" role="dialog" aria-label="{{ label }}" aria-modal="true" tabindex="-1">
                <div class="scroll-container">
                  <button
                    id="ModalClose-{{ modal_id }}"
                    type="button"
                    class="f-modal__close"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {% comment %} theme-check-disable {% endcomment %}
                    {{ 'icon-close.svg' | inline_asset_content }}
                    {% comment %} theme-check-enable {% endcomment %}
                  </button>
                  <div class="f-modal__inner">
                    <div class="rte py-md px-sm">{{ size_chart }}</div>
                  </div>
                </div>
              </div>
            </modal-dialog>
          {% endif %}
        {%- when 'buy_buttons' -%}
          <div {{ block.shopify_attributes }}>
            {%- liquid
              assign gift_card_recipient_feature_active = false
              if block.settings.show_gift_card_recipient and product.gift_card?
                assign gift_card_recipient_feature_active = true
              endif

              assign show_dynamic_checkout = false
              if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
                assign show_dynamic_checkout = true
              endif
            -%}
            {% if block.settings.show_atc_button or show_dynamic_checkout %}
              <product-form class="f-product-form f-main-product-form">
                {%- form 'product',
                  product,
                  id: product_form_id,
                  class: 'main-product-form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  {%- if gift_card_recipient_feature_active -%}
                    {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
                  {%- endif -%}
                  <div class="f-product-form__buttons{% if show_dynamic_checkout and product.selling_plan_groups == empty %} f-product-form__buttons--show-buynow{% endif %}">
                    {% if block.settings.show_atc_button %}
                      {%- liquid
                        assign check_against_inventory = true
                        if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                          assign check_against_inventory = false
                        endif
                        if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                          assign quantity_rule_soldout = true
                        endif
                      -%}
                      <button
                        id="ProductSubmitButton-{{ section.id }}"
                        type="submit"
                        name="add"
                        class="f-product-form__submit btn {% if show_dynamic_checkout and product.selling_plan_groups == empty %}btn--secondary{% else %}btn--primary{% endif %}"
                        {% if product.selected_or_first_available_variant.available == false
                          or quantity_rule_soldout
                          or product.selected_or_first_available_variant == null
                        %}
                          disabled
                        {% endif %}
                      >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        {% comment %} theme-check-disable {% endcomment %}
                        {{ 'icon-spinner.svg' | inline_asset_content }}
                        {% comment %} theme-check-enable {% endcomment %}
                      </button>
                    {% endif %}
                    {%- if show_dynamic_checkout -%}
                      <div class="f-product-form__button-dynamic">
                        {{ form | payment_button }}
                      </div>
                    {%- endif -%}
                    <div class="f-product-form__error-message-wrapper" role="alert"></div>
                  </div>
                {%- endform -%}
              </product-form>
            {% endif %}
            <link
              rel="stylesheet"
              href="{{ 'pickup-availability.css' | asset_url }}"
              media="print"
              onload="this.media='all';"
            >
            <noscript>
              {{ 'pickup-availability.css' | asset_url | stylesheet_tag }}
            </noscript>
            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
              | where: 'pick_up_enabled', true
            -%}

            <pickup-availability
              class="product__pickup-availabilities no-js-hidden"
              {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                available
              {% endif %}
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}"
            >
              <template>
                <pickup-availability-preview class="pickup-availability-preview">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    aria-hidden="true"
                    class="icon-setting icon-unavailable"
                    viewBox="0 0 20 20"
                  >
                    <path fill="#DE3618" stroke="#fff" d="M13.94 3.94 10 7.878l-3.94-3.94A1.499 1.499 0 1 0 3.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 1 0 2.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 0 0 2.12 0 1.499 1.499 0 0 0 0-2.12L12.122 10l3.94-3.94a1.499 1.499 0 1 0-2.121-2.12z"/>
                  </svg>
                  <div class="pickup-availability-info">
                    <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                    <button class="pickup-availability-button btn btn--underline">
                      {{ 'products.product.pickup_availability.refresh' | t }}
                    </button>
                  </div>
                </pickup-availability-preview>
              </template>
            </pickup-availability>
          </div>

          <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
        {% when 'countdown_timer' %}
          {% liquid
            assign timer = block.settings.end_time
            assign heading = block.settings.heading
            assign style = block.settings.style
            assign custom_time = product.metafields.foxtheme.countdown
            if custom_time != blank
              assign timer = custom_time
            endif
          %}
          <div class="f-product-single__block-countdown f-product-single__block-countdown--{{ style }}">
            {%- if heading != blank -%}
              <h4 class="h5">{{- heading -}}</h4>
            {% endif %}
            {%- if block.settings.type == 'evergreen' or timer != blank -%}
              {% render 'countdown-timer',
                time: timer,
                id: block.id,
                style: style,
                number_size: block.settings.number_size
              %}
            {%- endif -%}
          </div>
        {%- when 'shipping' -%}
          <ul class="list-none">
            {% if block.settings.deliver_days != blank %}
              <li class="flex items-center">
                <svg
                  class="icon-setting"
                  fill="currentColor"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 256 256"
                >
                  <path d="M245.57,117.78l-14-35a13.93,13.93,0,0,0-13-8.8H182V64a6,6,0,0,0-6-6H24A14,14,0,0,0,10,72V184a14,14,0,0,0,14,14H42.6a30,30,0,0,0,58.8,0h53.2a30,30,0,0,0,58.8,0H232a14,14,0,0,0,14-14V120A6,6,0,0,0,245.57,117.78ZM182,86h36.58a2,2,0,0,1,1.86,1.26L231.14,114H182ZM22,72a2,2,0,0,1,2-2H170v68H22ZM72,210a18,18,0,1,1,18-18A18,18,0,0,1,72,210Zm82.6-24H101.4a30,30,0,0,0-58.8,0H24a2,2,0,0,1-2-2V150H170v15.48A30.1,30.1,0,0,0,154.6,186ZM184,210a18,18,0,1,1,18-18A18,18,0,0,1,184,210Zm50-26a2,2,0,0,1-2,2H213.4A30.05,30.05,0,0,0,184,162c-.67,0-1.34,0-2,.07V126h52Z"></path>
                </svg>
                {% liquid
                  assign date_format = block.settings.date_format | default: '%b %d'
                  assign range = 2 | times: 24 | times: 60 | times: 60
                  assign deliver_in = block.settings.deliver_days | times: 24 | times: 60 | times: 60
                  assign now = 'now' | date: '%s'
                  assign from = now | plus: deliver_in | minus: range | date: date_format
                  assign to = now | plus: deliver_in | plus: range | date: date_format
                %}
                <span>
                  {{- block.settings.deliver_text | strip_html }}
                  <span>{{ from }} - {{ to }}</span></span
                >
              </li>
            {% endif %}
            {% if block.settings.shipping_text != blank %}
              <li class="flex items-center">
                <svg
                  class="icon-setting"
                  fill="currentColor"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 256 256"
                >
                  <path d="M222.72,67.91l-88-48.18a13.9,13.9,0,0,0-13.44,0l-88,48.18A14,14,0,0,0,26,80.18v95.64a14,14,0,0,0,7.28,12.27l88,48.18a13.92,13.92,0,0,0,13.44,0l88-48.18A14,14,0,0,0,230,175.82V80.18A14,14,0,0,0,222.72,67.91ZM127,30.25a2,2,0,0,1,1.92,0L212.51,76,178.57,94.57,94.05,48.31ZM122,223,39,177.57a2,2,0,0,1-1-1.75V86.66l84,46ZM43.49,76,81.56,55.15l84.51,46.26L128,122.24ZM218,175.82a2,2,0,0,1-1,1.75h0L134,223V132.64l36-19.71V152a6,6,0,0,0,12,0V106.37l36-19.71Z"></path>
                </svg>
                <span>{{ block.settings.shipping_text }}</span>
              </li>
            {% endif %}
          </ul>
        {%- when 'collapsible_tab' -%}
          {% if block.settings.heading != blank %}
            <collapsible-tab
              class="collapsible__item no-js-hidden"
              data-block-id="collapsible-tab-{{ block.id }}"
              open="{{ block.settings.default_open | default: 'false' }}"
            >
              <button class="collapsible__button font-body-bolder" data-trigger>
                {% if block.settings.icon != blank and block.settings.icon != 'none' %}
                  {% render 'icon', name: block.settings.icon %}
                {% endif %}
                <span>{{ block.settings.heading }}</span>
                <span data-collapsible-icon>
                  <svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </button>
              <div class="collapsible__content" data-content hidden>
                <div class="collapsible__content-inner rte">
                  {{ block.settings.content }}
                  {{ block.settings.liquid }}
                  {{ block.settings.page.content }}
                </div>
              </div>
            </collapsible-tab>
            <noscript>
              <details
                class="collapsible__item"
                {% if block.settings.default_open %}
                  open
                {% endif %}
              >
                <summary class="collapsible__button">
                  {% if block.settings.icon != blank and block.settings.icon != 'none' %}
                    {% render 'icon', name: block.settings.icon %}
                  {% endif %}
                  <span>{{ block.settings.heading }}</span>
                  <span class="" data-collapsible-icon>
                    <svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                </summary>
                <div class="collapsible__content">
                  <div class="collapsible__content-inner rte">
                    {{ block.settings.content }}
                    {{ block.settings.liquid }}
                    {{ block.settings.page.content }}
                  </div>
                </div>
              </details>
            </noscript>
          {% endif %}
        {%- when 'complementary' -%}
          <product-recommendations
            class="f-complementary-products block{% if block.settings.make_collapsible_row %} is-accordion{% else %} relative{% endif %}"
            data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary"
          >
            {%- if recommendations.performed and recommendations.products_count > 0 -%}
              {%- liquid
                assign number_of_slides = recommendations.products_count | plus: 0.0 | divided_by: block.settings.products_per_page | ceil
                assign enable_slider = false
                if number_of_slides > 1 and block.settings.enable_slider
                  assign enable_slider = true
                endif
              -%}
              {% capture block_content %}
                <flickity-component
                    class="f-grid f-grid-1-cols{% if enable_slider %} flickity-enable{% endif %} {{ slide_class }}"
                    data-slider-options='{"pageDots": true, "prevNextButtons": false, "groupCells": 1, "cellSelector": ".f-complementary-products__slide", "wrapAround": true, "adaptiveHeight": true}'
                    data-slider-columns="1"
                    data-enable-slider="{{ enable_slider }}"
                    style="--pagination-width: 2.5rem;--button-size: 3.6rem;--button-size-mobile: 3.6rem;"
                >
                    {%- for i in (1..number_of_slides) -%}
                        <div class="f-complementary-products__slide w-full">
                            {%- for product in recommendations.products limit: block.settings.products_per_page offset: continue -%}
                                <div class="f-column">
                                    {% render 'product-card', 
                                        product: product, 
                                        custom_class: 'bg-secondary', 
                                        is_complementary: true, 
                                        list_layout: true,
                                        index: forloop.index,
                                        section_index: section.index,
                                        image_ratio: block.settings.image_ratio, 
                                        enable_quick_add: block.settings.enable_quick_add, 
                                        enable_quick_view: block.settings.enable_quick_view,
                                        color_schema: 'background-1',
                                        show_product_option: block.settings.pcard_show_color_swatch
                                    %}
                                </div>
                            {%- endfor -%}
                        </div>
                    {%- endfor -%}
                </flickity-component>
              {% endcapture %}
              {% if block.settings.make_collapsible_row %}
                <collapsible-tab
                  class="collapsible__item no-js-hidden"
                  data-block-id="collapsible-tab-{{ block.id }}"
                  open="true"
                >
                  <button class="collapsible__button" data-trigger>
                    {% if block.settings.icon != blank and block.settings.icon != 'none' %}
                      {% render 'icon', name: block.settings.icon %}
                    {% endif %}
                    <span>{{ block.settings.block_heading }}</span>
                    <span data-collapsible-icon>
                      <svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      <svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </span>
                  </button>
                  <div class="collapsible__content" data-content hidden>
                    <div class="collapsible__content-inner">
                      {{ block_content }}
                    </div>
                  </div>
                </collapsible-tab>
              {% else %}
                {% unless block.settings.block_heading == blank %}
                  <h3 class="f-complementary-products__block-heading font-body-bolder h6">
                    {{ block.settings.block_heading }}
                  </h3>
                {% endunless %}
                {{ block_content }}
              {% endif %}
            {% endif %}
          </product-recommendations>
          {% if settings.pcard_show_quickview_button == false and block.settings.enable_quick_view %}
            <script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
          {% endif %}
        {%- when 'inventory_status' -%}
          {%- render 'product-inventory',
            product: product,
            current_variant: current_variant,
            block: block,
            disable_default_variant: disable_default_variant
          -%}
        {%- when 'badge' -%}
          {%- liquid
            assign has_tags = false
            for tag in product.tags
              if tag contains 'tag__'
                assign has_tags = true
              endif
            endfor
          -%}
          {%- if has_tags -%}
            <div class="f-product__tags">
              {% for tag in product.tags %}
                {% if tag contains 'tag__' %}
                  {%- liquid
                    assign tag_content = tag | split: '__' | last
                    assign type = tag_content | split: '_' | first
                    assign tag_name = tag_content | split: '_' | last
                  -%}
                  <span class="f-badge f-badge--{{ type }}">
                    {{ tag_name }}
                  </span>
                {% endif %}
              {% endfor %}
            </div>
          {%- endif -%}
        {% else %}
      {%- endcase -%}
    </div>
  {%- endfor -%}
</div>
