<!-- /snippets/social-sharing.liquid -->

<div class="f-sharing__socials">
  {% if show_title %}
    <h4>{{ 'products.product.share' | t }}</h4>
  {% endif %}
  <div class="f-sharing__links">
    {% if settings.share_facebook %}
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: url }}">
        {% comment %} theme-check-disable {% endcomment %}
        {{ 'icon-facebook.svg' | inline_asset_content }}
        {% comment %} theme-check-enable {% endcomment %}
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
      </a>
    {% endif %}

    {% if settings.share_twitter %}
      <a
        target="_blank"
        href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: url }}"
      >
        {% comment %} theme-check-disable {% endcomment %}
        {{ 'icon-twitter.svg' | inline_asset_content }}
        {% comment %} theme-check-enable {% endcomment %}
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
      </a>
    {% endif %}

    {% if settings.share_pinterest %}
      <a
        target="_blank"
        href="//pinterest.com/pin/create/button/?url={{ shop.url | append: url }}&amp;media={{ share_image | image_url: width: 1024, height: 1024 }}&amp;description={{ share_title | url_param_escape }}"
      >
        {% comment %} theme-check-disable {% endcomment %}
        {{ 'icon-pinterest.svg' | inline_asset_content }}
        {% comment %} theme-check-enable {% endcomment %}
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
      </a>
    {% endif %}
  </div>
</div>
