{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}

<!doctype html>
  <html 
    class="no-js full-height" 
    lang="{{ request.locale.iso_code }}"
    {% if enable_rtl %}
      dir="rtl"
    {% endif %}
  >
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  
      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}
  
      {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
  
      <title>{{ shop.name }}</title>
  
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
  
      {% render 'meta-tags' %}
      {% render 'critical-css' %}
  
      {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
      {{ 'password.css' | asset_url | stylesheet_tag: preload: true}}

      {% comment %}theme-check-disable{% endcomment %}
    <link
      rel="preload"
      href="{{ 'non-critical.css' | asset_url }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet';"
    >
    <link
      rel="preload"
      href="{{ 'flickity-component.css' | asset_url }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet';"
    >
    <link
      rel="preload"
      href="{{ 'modal-component.css' | asset_url }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet';"
    >
    <link
      rel="preload"
      href="{{ 'drawer-component.css' | asset_url }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet';"
    >
      {% if enable_rtl %}
        <link rel="preload" href="{{ 'rtl.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet';">
      {% endif %}
    {% comment %}theme-check-enable{% endcomment %}

      <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'collapsible-tab.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
      <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      </script>
  
      {{ content_for_header }}

      {% comment %}theme-check-disable{% endcomment %}
    {%- unless settings.type_body_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_body_font | font_url }}"
        type="font/woff2"
        crossorigin
        fetchpriority="high"
      >
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_header_font | font_url }}"
        type="font/woff2"
        crossorigin
        fetchpriority="high"
      >
    {%- endunless -%}
    {% comment %}theme-check-enable{% endcomment %}
    </head>
  
    <body class="f-password template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }}">
      <a class="skip-to-content-link btn visually-hidden" href="#MainContent">
        {{- "accessibility.skip_to_text" | t -}}
      </a>
    
      {{ content_for_layout }}

      <ul hidden>
        <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      </ul>
  
      {% render 'theme-script' %}
  
      <script src="{{ 'lazy-image.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
      {% if settings.pcard_show_quickview_button %}
        <script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
      {% endif %}
      {% if settings.pcard_show_color_swatch %}
        <script src="{{ 'color-swatch.js' | asset_url }}" defer="defer"></script>
      {% endif %}
      {%- if request.design_mode -%}
        <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
      <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
    </body>
  </html>
  