{{ 'gallery-images.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container
  assign columns = section.settings.columns
  assign enable_slider = section.settings.enable_slider
  assign enable_swipe_mobile = section.settings.enable_swipe_mobile

  assign lg_columns = columns
  assign header_css_class = ''
  assign inline_style = ''

  assign is_metro_layout = false
  if section.settings.layout == 'metro' and enable_slider == false
    assign is_metro_layout = true
  endif

  if is_metro_layout
    assign half_columns = columns | divided_by: 2
    assign modulo = columns | modulo: 2

    assign lg_columns = lg_columns | plus: half_columns
    assign header_css_class = 'lg:hidden'

    assign start_col = half_columns | plus: 1
    assign end_col = start_col | plus: half_columns | plus: modulo

    assign total_block = section.blocks | size
    assign end_row = total_block | divided_by: columns
    assign end_row_modulo = total_block | modulo: columns
    if end_row_modulo > 0
      assign end_row = end_row | plus: 2
    else
      assign end_row = end_row | plus: 1
    endif

    assign inline_style = inline_style | append: ' --metro-item-start: ' | append: start_col | append: ';'
    assign inline_style = inline_style | append: ' --metro-item-end: ' | append: end_col | append: ';'
    assign inline_style = inline_style | append: ' --metro-item-row-end: ' | append: end_row | append: ';'
  endif

  assign animation_effect = settings.animations
  if animation_effect != 'none' and section.settings.animations != 'inherit'
    assign animation_effect = section.settings.animations
  endif
-%}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}
{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- if is_metro_layout -%}
    --section-padding-top-mobile: 4.8rem;
    --section-padding-bottom-mobile: 4.8rem;
    {%- endif -%}
  }
{%- endstyle -%}
<div
  id="{{ section_id }}"
  data-section-type="gallery-images"
  data-section-id="{{ section.id }}"
  data-columns="{{ columns }}"
  data-enable-slider="{{ enable_slider }}"
  class="f-section__gallery-images f-section__gallery-images-layout-{{section.settings.layout}} f-section-padding color-{{ section.settings.color_schema }}{{ custom_class }}{% if is_metro_layout %} lg-down:color-{{ section.settings.metro_item_color_schema }}{% endif %}"
>
  <div class="{{ container }}">
    {% render 'index-section-header',
      button_visible: true,
      button_style: section.settings.button_style,
      button_link: section.settings.button_link,
      button_label: section.settings.button_label,
      section_settings: section.settings,
      custom_css_class: header_css_class,
      animation_effect: animation_effect
    %}
    <grid-list
      data-motion="{{ animation_effect }}"
      class="block"
    >
      <flickity-component
        class="f-grid items-center f-grid-{{ section.settings.column_mobile }}-cols md:f-grid-{{ columns }}-cols lg:f-grid-{{ lg_columns }}-cols flickity-disable f-grid--gap-{{ section.settings.column_gap }}{% if enable_slider %} md:flickity-enable{% endif %}{% if enable_swipe_mobile %} f-swiper f-swiper--no-scrollbar f-swiper--{{ section.settings.column_mobile }}-cols{% endif %}"
        data-slider-options='{"pageDots": {{ section.settings.show_dots }}, "prevNextButtons": {{ section.settings.show_nav }}, "groupCells": {{ columns }}, "wrapAround": true}'
        data-slider-columns="{{ columns }}"
        data-enable-slider="{{ enable_slider }}"
        data-calc-button-position="true"
        style="{{ inline_style }}"
      >
        {%- if is_metro_layout -%}
          <div class="metro-column hidden lg:flex items-center justify-center flex-col color-{{ section.settings.metro_item_color_schema }}">
            {% render 'index-section-header',
              button_visible: true,
              button_style: section.settings.button_style,
              button_link: section.settings.button_link,
              button_label: section.settings.button_label,
              section_settings: section.settings,
              animation_effect: animation_effect
            %}
          </div>
        {%- endif -%}
        {%- for block in section.blocks -%}
          {%- liquid
            assign image = block.settings.image
            assign image_link = block.settings.link
            assign tag = 'div'
            if image_link != blank
              assign tag = 'a'
            endif
          -%}
          <div class="f-column" {{ block.shopify_attributes }}>
            <div class="grid-list__column block w-full">
              <{{ tag }}
                {% if image_link != blank %}
                  href="{{ image_link | escape }}"
                  aria-label="{{ image.alt | default: 'image-gallery-image-' | append: forloop.index }}"
                {% endif %}
                class="gallery-images__item flex items-center justify-center text-center h-full f-image-hover-effect__{{settings.image_hover_effect}}"
              >
                {%- if image != blank -%}
                  {% render 'responsive-image',
                    image: image,
                    wrapper_class: 'w-full',
                    aspect_ratio: section.settings.image_ratio,
                    section_index: section.index,
                    index: forloop.index
                  %}
                {%- else -%}
                  <div class="f-image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="gallery-images__item-overlay flex items-center justify-center text-center">
                    <p class="gallery-images__item-text text-{{ block.settings.text_size }}">
                      {{ block.settings.text }}
                    </p>
                  </div>
                {%- endif -%}
              </{{ tag }}>
            </div>
          </div>
        {%- endfor -%}
      </flickity-component>
    </grid-list>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.gallery-images.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "paragraph",
      "content": "[Read How-to](https://foxecom.link/qERI1S8)"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.common.header.name"
    },
    {
      "type": "select",
      "id": "section_header_padding_bottom",
      "label": "t:sections.common.spacing.section_header_padding_bottom.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__3.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "section_header_content_spacing",
      "label": "t:sections.common.content_spacing.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.content_spacing.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.content_spacing.options__md.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "info": "t:sections.common.highlight_text.paragraph.content",
      "label": "t:sections.common.header.heading",
      "default": "Gallery images"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:sections.common.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__1"
        },
        {
          "value": "drawer_line",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__2"
        },
        {
          "value": "underline",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_highlight_text_color",
      "label": "t:sections.common.highlight_text.settings.enable_highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "default": "h2",
      "label": "t:sections.common.text_size.heading.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.common.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.common.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.common.text_size.options__h1.label"
        },
        {
          "value": "h0",
          "label": "t:sections.common.text_size.options__h0.label"
        },
        {
          "value": "h-xl",
          "label": "t:sections.common.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.common.heading_color.label",
      "info": "t:sections.common.heading_color.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.common.header.subheading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.common.header.description"
    },
    {
      "type": "header",
      "content": "t:sections.common.button.header.content"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.common.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.common.button.button_url.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.common.button.button_style.label",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:sections.common.button.button_style.options.option__1"
        },
        {
          "value": "btn--secondary",
          "label": "t:sections.common.button.button_style.options.option__2"
        },
        {
          "value": "btn--white",
          "label": "t:sections.common.button.button_style.options.option__3"
        },
        {
          "value": "btn--underline",
          "label": "t:sections.common.button.button_style.options.option__4"
        }
      ],
      "default": "btn--primary"
    },
    {
      "type": "header",
      "content": "t:sections.common.grid.name"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:settings_schema.global.settings.image_aspect_ratio_options.label",
      "default": "adapt",
      "options": [
        {
          "value": "adapt",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__1.label"
        },
        {
          "value": "1/1",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__3.label"
        },
        {
          "value": "4/3",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__5.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.common.grid.logo_columns",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "column_gap",
      "label": "t:sections.common.grid.gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_07",
          "value": "double-extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_05",
          "value": "extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_06",
          "value": "extra-large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "t:sections.gallery-images.settings.layout.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.gallery-images.settings.layout.label",
      "default": "grid",
      "options": [
        {
          "label": "t:sections.gallery-images.settings.layout.option__01",
          "value": "grid"
        },
        {
          "label": "t:sections.gallery-images.settings.layout.option__02",
          "value": "metro"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "metro_item_color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-2",
      "visible_if": "{{ section.settings.layout == 'metro' }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.slider.header"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "t:sections.common.slider.enable_slider",
      "default": false,
      "info": "t:sections.common.slider.enable_slider_info.logo_list"
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "t:sections.common.slider.show_nav",
      "default": false,
      "visible_if": "{{ section.settings.enable_slider == true }}"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:sections.common.slider.show_dots",
      "default": false,
      "visible_if": "{{ section.settings.enable_slider == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.mobile.header"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe_mobile",
      "label": "t:sections.common.mobile.swipe_on_mobile.label",
      "default": false
    },
    {
      "type": "select",
      "id": "column_mobile",
      "label": "t:sections.common.mobile.columns.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.common.mobile.columns.option__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.common.mobile.columns.option__2.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.common.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.divider.width.label",
      "visible_if": "{{ section.settings.show_section_divider == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
    {
      "type": "header",
      "content": "t:settings_schema.animations.header.content"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "t:settings_schema.animations.header__2.content",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:settings_schema.animations.settings.animation.options.option_6"
        },
        {
          "value": "fade-in",
          "label": "t:settings_schema.animations.settings.animation.options.option_2"
        },
        {
          "value": "fade-in-up",
          "label": "t:settings_schema.animations.settings.animation.options.option_3"
        },
        {
          "value": "fade-in-left",
          "label": "t:settings_schema.animations.settings.animation.options.option_4"
        },
        {
          "value": "fade-in-right",
          "label": "t:settings_schema.animations.settings.animation.options.option_5"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.gallery-images.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.gallery-images.blocks.image.settings.image.label"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.gallery-images.blocks.image.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.common.text_size.text.label",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "t:sections.common.text_size.options__sm.label"
            },
            {
              "value": "medium",
              "label": "t:sections.common.text_size.options__md.label"
            },
            {
              "value": "large",
              "label": "t:sections.common.text_size.options__lg.label"
            }
          ]
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.gallery-images.blocks.image.settings.link.label",
          "info": "t:sections.gallery-images.blocks.image.settings.link.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.gallery-images.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
