{{ 'multicolumn.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container
  assign columns = section.settings.columns

  assign enable_swipe_mobile = section.settings.enable_swipe_mobile
  assign columns_tablet = columns
  if columns > 3 and request.design_mode == false
    assign columns_tablet = columns | divided_by: 2.0 | ceil | at_least: 3
  endif

  assign layout = section.settings.layout

  assign animation_effect = settings.animations
  if animation_effect != 'none' and section.settings.animations != 'inherit'
    assign animation_effect = section.settings.animations
  endif

  assign swiper_class = ''
  if enable_swipe_mobile
    assign swiper_class = ' f-swiper f-swiper--no-scrollbar f-swiper--' | append: section.settings.column_mobile | append: '-cols'
    if columns == 3
      assign swiper_class = swiper_class | append: ' lg-down-swiper'
    endif
  endif
-%}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}
<div
  id="{{ section_id }}"
  class="f-multicolumn{{ custom_class }} f-section-padding color-{{ section.settings.color_schema }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="{{ container }}">
    {% render 'index-section-header',
      animation_effect: animation_effect,
      section_settings: section.settings
    %}
    <grid-list
      data-motion="{{ animation_effect }}"
      class="block"
    >
      <div class="f-grid f-grid-{{ section.settings.column_mobile }}-cols md:f-grid-{{ columns_tablet }}-cols lg:f-grid-{{ columns }}-cols f-grid--row-gap-{{ section.settings.row_gap }} f-grid--gap-{{ section.settings.column_gap }}{{ swiper_class }}">
        {%- for block in section.blocks -%}
          {%- liquid
            assign show_image = block.settings.show_image
            assign image = block.settings.image
            assign image_link = block.settings.image_link
            assign tag = 'div'
            if image_link != blank
              assign tag = 'a'
            endif

            assign inline_css = ''
            if section.settings.image_width == 'custom'
              assign inline_css = inline_css | append: '--image-width: ' | append: section.settings.custom_image_width | append: 'px;'
            endif
          -%}
          <div class="f-column" {{ block.shopify_attributes }}>
            <div
              class="grid-list__column multicolumn-card multicolumn-card--{{ layout }} multicolumn-card--image-{{ section.settings.image_width }}"
              {% if inline_css != blank %}
                style="{{ inline_css }}"
              {% endif %}
            >
              <div class="multicolumn-card__inner flex flex-col text-{{ section.settings.text_alignment }}">
                {% if show_image %}
                  <{{ tag }}
                    {% if image_link != blank %}
                      aria-label="{{ 'accessibility.read_more' | t: title: block.settings.title }}"
                      href="{{ image_link | escape }}"
                    {% endif %}
                    class="multicolumn-card__image{% if image_link != blank %} f-image-hover-effect__{{settings.image_hover_effect}}{% endif %}"
                  >
                    {% if image != blank %}
                      {% render 'responsive-image',
                        image: block.settings.image,
                        alt: image.alt,
                        section_index: section.index,
                        index: forloop.index
                      %}
                    {% else %}
                      <div class="f-image f-image--placeholder">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% endif %}
                  </{{ tag }}>
                {% endif %}
                <div class="multicolumn-card__info{% if show_image %} has-image{% endif %}">
                  {%- if block.settings.title != blank -%}
                    <h3 class="m-0 {{ block.settings.heading_size }}">
                      {{ block.settings.title }}
                    </h3>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte text-{{ block.settings.text_size }}">
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.button_text != blank -%}
                    <a
                      href="{{ block.settings.button_link | default: '#' }}"
                      class="btn {{ block.settings.button_style }} btn--small"
                    >
                      {{- block.settings.button_text -}}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </grid-list>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "paragraph",
      "content": "[Read How-to](https://foxecom.link/8bGk3s8)"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.common.header.name"
    },
    {
      "type": "select",
      "id": "section_header_padding_bottom",
      "label": "t:sections.common.spacing.section_header_padding_bottom.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__3.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "section_header_content_spacing",
      "label": "t:sections.common.content_spacing.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.content_spacing.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.content_spacing.options__md.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "info": "t:sections.common.highlight_text.paragraph.content",
      "label": "t:sections.common.header.heading"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:sections.common.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__1"
        },
        {
          "value": "drawer_line",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__2"
        },
        {
          "value": "underline",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_highlight_text_color",
      "label": "t:sections.common.highlight_text.settings.enable_highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "default": "h2",
      "label": "t:sections.common.text_size.heading.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.common.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.common.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.common.text_size.options__h1.label"
        },
        {
          "value": "h0",
          "label": "t:sections.common.text_size.options__h0.label"
        },
        {
          "value": "h-xl",
          "label": "t:sections.common.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.common.heading_color.label",
      "info": "t:sections.common.heading_color.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.common.header.subheading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.common.header.description"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.multicolumn.settings.layout.label",
      "default": "vertical",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.multicolumn.settings.layout.option__1"
        },
        {
          "value": "horizontal",
          "label": "t:sections.multicolumn.settings.layout.option__2"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:settings_schema.global.settings.content_alignment.desktop.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.content_alignment.option__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.content_alignment.option__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.content_alignment.option__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "t:sections.multicolumn.settings.image_width.label",
      "options": [
        {
          "label": "t:sections.multicolumn.settings.image_width.options__custom.label",
          "value": "custom"
        },
        {
          "label": "t:sections.multicolumn.settings.image_width.options__xs.label",
          "value": "x-small"
        },
        {
          "label": "t:sections.multicolumn.settings.image_width.options__sm.label",
          "value": "small"
        },
        {
          "label": "t:sections.multicolumn.settings.image_width.options__md.label",
          "value": "medium"
        },
        {
          "label": "t:sections.multicolumn.settings.image_width.options__lg.label",
          "value": "large"
        },
        {
          "label": "t:sections.multicolumn.settings.image_width.options__xl.label",
          "value": "x-large"
        },
        {
          "label": "t:sections.multicolumn.settings.image_width.options__full.label",
          "value": "fullwidth"
        }
      ],
      "default": "fullwidth"
    },
    {
      "type": "range",
      "id": "custom_image_width",
      "label": "t:sections.multicolumn.settings.custom_image_width.label",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 80,
      "visible_if": "{{ section.settings.image_width == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.grid.name"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.common.grid.columns",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "column_gap",
      "label": "t:sections.common.grid.gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_07",
          "value": "double-extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_05",
          "value": "extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_06",
          "value": "extra-large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "row_gap",
      "label": "t:sections.common.grid.row_gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_07",
          "value": "double-extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_05",
          "value": "extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_06",
          "value": "extra-large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "t:sections.common.mobile.header"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe_mobile",
      "label": "t:sections.common.mobile.swipe_on_mobile.label",
      "default": false
    },
    {
      "type": "select",
      "id": "column_mobile",
      "label": "t:sections.common.mobile.columns.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.common.mobile.columns.option__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.common.mobile.columns.option__2.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.common.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.divider.width.label",
      "visible_if": "{{ section.settings.show_section_divider == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
    {
      "type": "header",
      "content": "t:settings_schema.animations.header.content"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "t:settings_schema.animations.header__2.content",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:settings_schema.animations.settings.animation.options.option_6"
        },
        {
          "value": "fade-in",
          "label": "t:settings_schema.animations.settings.animation.options.option_2"
        },
        {
          "value": "fade-in-up",
          "label": "t:settings_schema.animations.settings.animation.options.option_3"
        },
        {
          "value": "fade-in-left",
          "label": "t:settings_schema.animations.settings.animation.options.option_4"
        },
        {
          "value": "fade-in-right",
          "label": "t:settings_schema.animations.settings.animation.options.option_5"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "t:sections.common.show_image.label",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label",
          "visible_if": "{{ block.settings.show_image == true }}"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label",
          "visible_if": "{{ block.settings.show_image == true }}"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "default": "h3",
          "label": "t:sections.common.text_size.heading.label",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.common.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.common.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.common.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.common.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.common.text_size.options__h2.label"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.common.text_size.text.label",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "t:sections.common.text_size.options__sm.label"
            },
            {
              "value": "medium",
              "label": "t:sections.common.text_size.options__md.label"
            },
            {
              "value": "large",
              "label": "t:sections.common.text_size.options__lg.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.common.button.header.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.common.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.common.button.button_url.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.common.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.common.button.button_style.options.option__1"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.common.button.button_style.options.option__2"
            },
            {
              "value": "btn--white",
              "label": "t:sections.common.button.button_style.options.option__3"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.common.button.button_style.options.option__4"
            }
          ],
          "default": "btn--underline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
