{{ 'press.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container
  assign autoplay = section.settings.autoplay
  assign loop = false

  assign cell_align = 'left'
  if section.blocks.size > 5
    assign loop = true
    assign cell_align = 'center'
  endif
  assign autoplay = false
  if section.settings.autoplay
    assign autoplay = section.settings.autorotate_speed | times: 1000
  endif

  assign motion_delay = 0
  assign animation_effect = settings.animations
  if animation_effect != 'none' and section.settings.animations != 'inherit'
    assign animation_effect = section.settings.animations
  endif
  if section.settings.heading != blank
    assign motion_delay = motion_delay | plus: 50
  endif
  if section.settings.subheading != blank
    assign motion_delay = motion_delay | plus: 50
  endif
  if section.settings.description != blank
    assign motion_delay = motion_delay | plus: 50
  endif
-%}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}
<div
  id="{{ section_id }}"
  class="f-press f-section-padding color-{{ section.settings.color_schema }}{{ custom_class }}"
  data-section-type="f-press"
  data-section-id="{{ section.id }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="{{ container }}">
    {% render 'index-section-header',
      animation_effect: animation_effect,
      section_settings: section.settings
    %}
    <motion-element
      data-motion="{{ animation_effect }}"
      data-motion-delay="{{ motion_delay }}"
      class="block f-press__wrapper{% if section.settings.show_nav %} show-nav{% endif %}"
    >
      <div class="f-press__content-wrapper">
        <flickity-component
          class="f-press__content flickity-button-initialized"
          data-auto-play="{{ autoplay }}"
          data-slider-options='{"prevNextButtons": {{ section.settings.show_nav }}, "autoPlay": {{ autoplay }}, "wrapAround": true, "adaptiveHeight": true}'
          data-slider-columns="1"
          data-enable-slider="true"
          data-calc-button-position="true"
          id="f-press__slider-{{ section.id }}"
        >
          {%- for block in section.blocks -%}
            {%- liquid
              if block.settings.title == blank
                continue
              endif

              assign font_style = block.settings.font_style
              assign font_size = block.settings.font_size
            -%}
            <div
              class="f-press__text w-full text-center"
              data-index="{{ forloop.index0 }}"
              {{ block.shopify_attributes }}
            >
              <div class="rte m-0 {{ font_style }} {{ font_size }}">
                {{ block.settings.title }}
              </div>
            </div>
          {% endfor %}
        </flickity-component>
      </div>
      <div class="f-press__list">
        {%- liquid
          assign nav_max_count = 5
          if section.blocks.size <= 5
            assign nav_max_count = section.blocks.size | minus: 1
          endif
        -%}
        <press-nav-component
          class="f-press__slider f-grid{% unless loop %} md:disable-transition{% endunless %}"
          data-enable-slider="true"
          data-slider-columns="{{ nav_max_count }}"
          data-slider-options='{"prevNextButtons": false, "asNavFor": "#f-press__slider-{{ section.id }}", "percentPosition": true, "draggable": false, "wrapAround": {{ loop }}, "cellAlign": "{{ cell_align }}", "groupCells": 1}'
        >
          {%- for block in section.blocks -%}
            {%- liquid
              if block.settings.title == blank
                continue
              endif

              assign image_width = block.settings.image_width | append: 'px'
            -%}
            <div class="f-press__logo" {{ block.shopify_attributes }}>
              {%- if block.settings.image != blank -%}
                {% render 'responsive-image',
                  image: block.settings.image,
                  image_width: image_width,
                  section_index: section.index,
                  index: forloop.index
                %}
              {%- else -%}
                <div class="f-image" style="--aspect-ratio: 16/9">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </press-nav-component>
      </div>
    </motion-element>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.press.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "class": "f-section-press",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        },
        {
          "value": "container-narrow",
          "label": "t:sections.common.container.narrow"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.common.header.name"
    },
    {
      "type": "select",
      "id": "section_header_padding_bottom",
      "label": "t:sections.common.spacing.section_header_padding_bottom.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__3.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "section_header_content_spacing",
      "label": "t:sections.common.content_spacing.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.content_spacing.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.content_spacing.options__md.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "info": "t:sections.common.highlight_text.paragraph.content",
      "label": "t:sections.common.header.heading",
      "default": "Press"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:sections.common.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__1"
        },
        {
          "value": "drawer_line",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__2"
        },
        {
          "value": "underline",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_highlight_text_color",
      "label": "t:sections.common.highlight_text.settings.enable_highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "default": "h2",
      "label": "t:sections.common.text_size.heading.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.common.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.common.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.common.text_size.options__h1.label"
        },
        {
          "value": "h0",
          "label": "t:sections.common.text_size.options__h0.label"
        },
        {
          "value": "h-xl",
          "label": "t:sections.common.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.common.heading_color.label",
      "info": "t:sections.common.heading_color.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.common.header.subheading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.common.header.description"
    },
    {
      "type": "header",
      "content": "t:sections.common.slider.header"
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "t:sections.common.slider.show_nav",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.common.slider.autoplay"
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "t:sections.common.slider.autoplay_timeout",
      "max": 10,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 3,
      "visible_if": "{{ section.settings.autoplay == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.common.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.divider.width.label",
      "visible_if": "{{ section.settings.show_section_divider == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
    {
      "type": "header",
      "content": "t:settings_schema.animations.header.content"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "t:settings_schema.animations.header__2.content",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:settings_schema.animations.settings.animation.options.option_6"
        },
        {
          "value": "fade-in",
          "label": "t:settings_schema.animations.settings.animation.options.option_2"
        },
        {
          "value": "fade-in-up",
          "label": "t:settings_schema.animations.settings.animation.options.option_3"
        },
        {
          "value": "fade-in-left",
          "label": "t:settings_schema.animations.settings.animation.options.option_4"
        },
        {
          "value": "fade-in-right",
          "label": "t:settings_schema.animations.settings.animation.options.option_5"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "press",
      "name": "t:sections.press.blocks.press.name",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.press.blocks.press.settings.content",
          "default": "<p>You can add text content from press comments, reviews, or testimonials here.</p>"
        },
        {
          "type": "select",
          "id": "font_style",
          "label": "t:settings_schema.global.settings.font_family_options.label",
          "options": [
            {
              "value": "font-body",
              "label": "t:settings_schema.global.settings.font_family_options.option__1.label"
            },
            {
              "value": "font-heading",
              "label": "t:settings_schema.global.settings.font_family_options.option__2.label"
            }
          ],
          "default": "font-body"
        },
        {
          "type": "select",
          "id": "font_size",
          "label": "t:settings_schema.global.settings.text_size.label",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.common.text_size.options__sm.label"
            },
            {
              "value": "h3",
              "label": "t:sections.common.text_size.options__md.label"
            },
            {
              "value": "h2",
              "label": "t:sections.common.text_size.options__lg.label"
            }
          ],
          "default": "h3"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.press.blocks.press.settings.image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.press.blocks.press.settings.image_width",
          "default": 150,
          "min": 20,
          "step": 2,
          "max": 200,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.press.presets.name",
      "blocks": [
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        }
      ]
    }
  ]
}
{% endschema %}
