{%- liquid
  assign product_id = product.id
  if template == 'cart'
    assign min = 0
    assign diff = cart.items.size | minus: min
    assign random_number = 'now' | date: '%N' | modulo: diff | plus: min

    assign cart_item = cart.items[random_number]
    assign product_id = cart_item.product_id
  endif

  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container
  assign columns = section.settings.columns

  assign columns_tablet = columns
  if columns > 3 and request.design_mode == false
    assign columns_tablet = columns | divided_by: 2.0 | ceil | at_least: 3
  endif

  assign enable_slider = section.settings.enable_slider
  assign enable_swipe_mobile = section.settings.enable_swipe_mobile
  assign show_nav = section.settings.show_nav
  assign show_dots = section.settings.show_dots

  assign animation_effect = settings.animations
  if animation_effect != 'none' and section.settings.animations != 'inherit'
    assign animation_effect = section.settings.animations
  endif

  assign remove_params = section.settings.remove_params
-%}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}
<div
  id="{{ section_id }}"
  class="product-recommendations f-section-padding color-{{ section.settings.color_schema }} no-js-hidden{{ custom_class }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <product-recommendations
    class="product-recommendations block"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product_id }}&limit={{ section.settings.limit | default: 4 }}"
  >
    {%- if recommendations.performed and recommendations.products_count > 0 -%}
      <div class="{{ container }}">
        {%- render 'index-section-header',
          animation_effect: animation_effect,
          section_settings: section.settings
        -%}
        <grid-list
          data-motion="{{ animation_effect }}"
          class="block w-full"
        >
          <flickity-component
            class="f-grid f-grid-{{ section.settings.column_mobile }}-cols md:f-grid-{{ columns_tablet }}-cols lg:f-grid-{{ columns }}-cols f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-{{ section.settings.row_gap }} flickity-disable{% if enable_slider %} md:flickity-enable{% endif %}{% if enable_swipe_mobile %} f-swiper f-swiper--no-scrollbar f-swiper--{{ section.settings.column_mobile }}-cols{% endif %}"
            data-slider-options='{"pageDots": {{ show_dots }}, "prevNextButtons": {{ show_nav }}, "groupCells": true, "cellSelector": ".f-column", "wrapAround": true}'
            data-slider-columns="{{ columns }}"
            data-slider-columns-tablet="{{ columns_tablet }}"
            data-enable-slider="{{ enable_slider }}"
            data-calc-button-position="true"
            data-products-container
          >
            {%- for product in recommendations.products -%}
              <div class="f-column">
                {%- render 'product-card',
                  color_schema: section.settings.color_schema,
                  section_index: section.index,
                  index: forloop.index,
                  product: product,
                  remove_params: remove_params
                -%}
              </div>
            {%- endfor -%}
          </flickity-component>
        </grid-list>
      </div>
    {%- endif -%}
  </product-recommendations>
</div>
{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "enabled_on": {
    "templates": ["cart", "product"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://foxecom.link/oRNYGHN)"
    },
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "remove_params",
      "label": "t:sections.product-recommendations.settings.remove_url_params.label",
      "default": false,
      "info": "t:sections.product-recommendations.settings.remove_url_params.info"
    },
    {
      "type": "header",
      "content": "t:sections.common.header.name"
    },
    {
      "type": "select",
      "id": "section_header_padding_bottom",
      "label": "t:sections.common.spacing.section_header_padding_bottom.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.common.spacing.section_header_padding_bottom.option__3.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "section_header_content_spacing",
      "label": "t:sections.common.content_spacing.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.common.content_spacing.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.common.content_spacing.options__md.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "You may also like",
      "info": "t:sections.common.highlight_text.paragraph.content",
      "label": "t:sections.common.header.heading"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:sections.common.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__1"
        },
        {
          "value": "drawer_line",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__2"
        },
        {
          "value": "underline",
          "label": "t:sections.common.highlight_text.settings.highlight_style.option__3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_highlight_text_color",
      "label": "t:sections.common.highlight_text.settings.enable_highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "default": "h2",
      "label": "t:sections.common.text_size.heading.label",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.common.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.common.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.common.text_size.options__h1.label"
        },
        {
          "value": "h0",
          "label": "t:sections.common.text_size.options__h0.label"
        },
        {
          "value": "h-xl",
          "label": "t:sections.common.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.common.heading_color.label",
      "info": "t:sections.common.heading_color.info"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.common.header.description"
    },

    {
      "type": "header",
      "content": "t:sections.common.grid.name"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "t:sections.common.grid.product_limit",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.common.grid.columns",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "column_gap",
      "label": "t:sections.common.grid.gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_07",
          "value": "double-extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_05",
          "value": "extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_06",
          "value": "extra-large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "row_gap",
      "label": "t:sections.common.grid.row_gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_07",
          "value": "double-extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_05",
          "value": "extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_06",
          "value": "extra-large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "t:sections.common.slider.header"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "t:sections.common.slider.enable_slider",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "t:sections.common.slider.show_nav",
      "default": true,
      "visible_if": "{{ section.settings.enable_slider == true }}"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:sections.common.slider.show_dots",
      "default": false,
      "visible_if": "{{ section.settings.enable_slider == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.mobile.header"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe_mobile",
      "label": "t:sections.common.mobile.swipe_on_mobile.label",
      "default": true
    },
    {
      "type": "select",
      "id": "column_mobile",
      "label": "t:sections.common.mobile.columns.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.common.mobile.columns.option__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.common.mobile.columns.option__2.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.common.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.divider.width.label",
      "visible_if": "{{ section.settings.show_section_divider == true }}"
    },
    {
      "type": "header",
      "content": "t:settings_schema.animations.header.content"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "t:settings_schema.animations.header__2.content",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:settings_schema.animations.settings.animation.options.option_6"
        },
        {
          "value": "fade-in",
          "label": "t:settings_schema.animations.settings.animation.options.option_2"
        },
        {
          "value": "fade-in-up",
          "label": "t:settings_schema.animations.settings.animation.options.option_3"
        },
        {
          "value": "fade-in-left",
          "label": "t:settings_schema.animations.settings.animation.options.option_4"
        },
        {
          "value": "fade-in-right",
          "label": "t:settings_schema.animations.settings.animation.options.option_5"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-recommendations.name"
    }
  ]
}
{% endschema %}
