{{ 'slideshow-component.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class
  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container
  assign slideshow_height = section.settings.slideshow_height
  assign text_alignment_mobile = section.settings.text_alignment_mobile
  assign show_text_below = section.settings.show_text_below
  assign controls_position = section.settings.controls_position
  assign pagination_style = section.settings.pagination_style
  assign pagination_background = section.settings.pagination_background
  assign show_dots = section.settings.show_dots
  assign show_nav = section.settings.show_nav

  if slideshow_height == 'adapt'
    assign first_block = section.blocks.first
    assign aspect_ratio = first_block.settings.background.aspect_ratio | default: 2.333
    assign aspect_ratio_mobile = first_block.settings.mb_background.aspect_ratio | default: 1.778
  endif

  assign is_page_dots = false
  if show_dots and pagination_style == 'dots' and section.blocks.size > 1
    assign is_page_dots = true
  endif

  assign show_controls_below = false
  if show_dots and show_text_below == false
    assign show_controls_below = true
  endif
  if show_nav and show_text_below == false
    assign show_controls_below = true
  endif
  if show_nav and show_dots and show_text_below == false
    assign show_controls_below = true
  endif

  assign autoplay = false
  if section.settings.autoplay
    assign autoplay = section.settings.autorotate_speed | times: 1000
  endif

  assign flickity_classes = ''
  unless show_nav
    assign flickity_classes = flickity_classes | append: ' flickity-no-nav'
  endunless
  unless show_dots
    assign flickity_classes = flickity_classes | append: ' flickity-no-page'
  endunless

  assign has_control = false
  if section.blocks.size > 1
    if show_nav or show_dots
      assign has_control = true
    endif
  endif

  assign slideshow_class = ''
  if has_control
    assign slideshow_class = slideshow_class | append: ' f-slideshow-wrapper__has-controls'
  endif
  if show_controls_below
    assign slideshow_class = slideshow_class | append: ' f-slideshow--mobile-controls-below'
  endif
  if show_text_below
    assign slideshow_class = slideshow_class | append: ' f-slideshow--mobile-stack'
  endif

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign pagination_class = ''
  if pagination_background == 'dark'
    assign pagination_class = 'f-pagination-bg--dark'
    assign pagination_background = '#000000'
  elsif pagination_background == 'light'
    assign pagination_class = 'f-pagination-bg--light'
    assign pagination_background = '#ffffff'
  else
    assign pagination_class = 'f-pagination-bg--none'
    assign pagination_background = 'transparent'
  endif
-%}

<script src="{{ 'slideshow-component.js' | asset_url }}" defer="defer"></script>
<div
  id="{{ section_id }}"
  data-section-type="slideshow"
  data-section-id="{{ section.id }}"
  class="f-slideshow{{ custom_class }}"
  role="region"
  aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
  aria-label="{{ section.settings.accessibility_info | escape }}"
>
  <div class="{{ container }}">
    <slideshow-component
      class="f-slideshow-wrapper f-slideshow-wrapper--{{ slideshow_height }}{{ slideshow_class }}"
      data-mobile-stack="{{ show_text_below }}"
      data-media-loading
      style="--number-slides: {{ section.blocks.size }}; --pagination-background: {{ pagination_background }}; --slider-controls-color: {{ section.blocks.first.settings.text_color }};"
    >
      <flickity-component
        id="f-slideshow-{{ section.id }}"
        class="f-slideshow__slides overflow-hidden w-full flickity-button-initialized flickity-controls-group flickity-controls-group__bottom flickity-controls-group__bottom--{{ controls_position }} flickity-pagination--{{ pagination_style }}{{ flickity_classes }} {{ pagination_class }}"
        data-slider-options='{"pageDots": {{ is_page_dots }}, "dragThreshold": 20, "prevNextButtons": {{ show_nav }}, "autoPlay": {{ autoplay }}, "wrapAround": true, "fade": true, "adaptiveHeight": true, "setGallerySize": false, "cellSelector": ".f-slideshow__slide"}'
        aria-live="polite"
        aria-atomic="true"
        data-enable-slider="true"
        data-slider-columns="0"
        {%- if slideshow_height == 'adapt' -%}
          style="--aspect-ratio: {{ aspect_ratio }}; --aspect-ratio-mobile: {{ aspect_ratio_mobile }};"
        {%- endif -%}
      >
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'slide' %}
              {% liquid
                assign bs = block.settings
                assign default_background = bs.background
                assign mb_background = bs.mb_background
                assign image_overlay_opacity = block.settings.image_overlay_opacity
              %}
              <div
                class="f-slideshow__slide"
                data-index="{{ forloop.index0 }}"
                role="group"
                aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                aria-label="{{ forloop.index }} {{ 'sections.slideshow.of' | t }} {{ forloop.length }}"
                tabindex="-1"
                {{ block.shopify_attributes }}
              >
                {%- if default_background == blank -%}
                  <div class="f-slideshow__slide-placeholder h-full{% if mb_background != blank %} hidden md:block{% endif %}{% if animated and section.settings.enable_bg_zoom_effect %} bg-image__animation{% endif %}">
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{
                      'lifestyle-'
                      | append: current
                      | placeholder_svg_tag: 'placeholder-svg w-full h-full'
                    }}
                  </div>
                {%- endif -%}

                {%- if default_background != blank or mb_background != blank -%}
                  {%- liquid
                    assign loading = 'lazy'
                    assign fetchpriority = 'low'
                    if forloop.index == 1 and section.index < 2
                      assign loading = 'eager'
                      assign fetchpriority = 'high'
                    endif
                  -%}
                  <div
                    class="f-slideshow__slide-bg bg-image{% if animated and section.settings.enable_bg_zoom_effect %} bg-image__animation{% endif %}{% if default_background == blank %} md:hidden{% endif %}"
                  >
                    <picture class="block w-full h-full">
                      {%- if default_background != blank and mb_background != blank -%}
                        <source
                          media="(max-width: 767px)"
                          srcset="{{ mb_background | image_url: width: '400x' }} 400w, {{ mb_background | image_url: width: '600x' }} 600w, {{ mb_background | image_url: width: '800x' }} 800w, {{ mb_background | image_url: width: '1000x' }} 1000w"
                          width="{{ mb_background.width }}"
                          height="{{ mb_background.height }}"
                        >
                      {%- endif -%}
                      {%- liquid
                        if default_background == blank
                          assign default_background = mb_background
                        endif

                        assign background_default_height = default_background.width | divided_by: default_background.aspect_ratio
                        assign background_default_alt = default_background.alt | default: shop.name | escape
                      -%}
                      {{-
                        default_background
                        | image_url: width: default_background.width
                        | image_tag:
                          loading: loading,
                          width: default_background.width,
                          height: background_default_height,
                          alt: background_default_alt,
                          fetchpriority: fetchpriority,
                          sizes: '100vw',
                          widths: '300,400,500,600,700,800,900,1000,1200,1300,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
                      -}}
                    </picture>
                  </div>
                {%- endif -%}
                
                {% if image_overlay_opacity > 0 %}
                  <div
                    class="f-slideshow__overlay bg-overlay"
                    style="--color-overlay-alpha: {{ image_overlay_opacity }}"
                  ></div>
                {% endif %}
              </div>
            {% else %}
              <div
                class="f-slideshow__slide"
                data-index="{{ forloop.index0 }}"
                role="group"
                aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                aria-label="{{ forloop.index }} {{ 'sections.slideshow.of' | t }} {{ forloop.length }}"
                tabindex="-1"
                {{ block.shopify_attributes }}
              >
                <deferred-media
                  data-type="{{ block.settings.video_type }}"
                  class="f-video__bg{% if animated and section.settings.enable_bg_zoom_effect %} bg-image__animation{% endif %}"
                >
                  <button
                    id="Deferred-Poster-Modal-{{ block.settings.video_url.id }}"
                    class="deferred-media__poster"
                    type="button"
                    aria-label="{{ block.settings.video_alt_text }}"
                  ></button>
                  <template>
                    {% liquid
                      assign video_sources = block.settings.shopify_video.sources[1]
                      assign video_url = video_sources.url
                      if request.design_mode and video_url == blank
                        assign video_url = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4'
                      endif
                    %}
                    <video
                      class="video-playsinline"
                      src="{{ video_url }}"
                      playsinline
                      autoplay
                      muted
                      loop
                    ></video>
                  </template>
                </deferred-media>
                {% if block.settings.image_overlay_opacity > 0 %}
                  <div
                    class="f-slideshow__overlay bg-overlay"
                    style="--color-overlay-alpha: {{ block.settings.image_overlay_opacity }}"
                  ></div>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
        {% if pagination_style == 'counter'
          and section.blocks.size > 1
          and show_dots
        %}
          <div class="flickity-page-counter no-js-hidden hidden">
            <span class="flickity-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">
              {{- 'sections.slideshow.of' | t -}}
            </span>
            <span class="flickity-counter--total">
              {{- section.blocks.size -}}
            </span>
          </div>
        {% endif %}
      </flickity-component>
      <div class="f-slideshow__text absolute inset-full flex">
        {% for block in section.blocks %}
          {% liquid
            assign bs = block.settings
            assign text_color = bs.text_color
            assign text_alignment = bs.text_alignment
            assign desc_size = bs.desc_size

            assign flexible_content = ''
            if bs.content_position == 'left-bottom' and controls_position == 'left' and has_control
              assign flexible_content = ' f-slideshow__content--move-top'
            endif
            if bs.content_position == 'right-bottom' and controls_position == 'right' and has_control
              assign flexible_content = ' f-slideshow__content--move-top'
            endif
            if bs.content_position == 'center-bottom' and controls_position == 'center' and has_control
              assign flexible_content = ' f-slideshow__content--move-top'
            endif
          %}
          <div
            class="f-slideshow__content-wrapper absolute focus-none inset-full flex f-slideshow__content--{{ bs.content_position }}{{ flexible_content }} container"
            tabindex="-1"
            data-text-color="{{ text_color }}"
            {{ block.shopify_attributes }}
          >
            <div
              class="f-slideshow__content f-text-blocks hidden text-{{ text_alignment_mobile }} sm:text-{{ text_alignment }}"
              style="--slide-content-text-color: {{ text_color }};"
            >
              {% unless block.settings.subheading == blank %}
                <div class="f-slideshow__subtitle text-subheading">
                  {{ block.settings.subheading }}
                </div>
              {% endunless %}
              {% unless block.settings.title == blank %}
                <h2
                  class="f-slideshow__title {{ block.settings.heading_size }}"
                  {% if block.settings.heading_color != blank
                    and block.settings.heading_color != 'rgba(0,0,0,0)'
                  %}
                    style="color: {{ block.settings.heading_color }};"
                  {% endif %}
                >
                  {{ block.settings.title }}
                </h2>
              {% endunless %}
              {% unless block.settings.description == blank %}
                <div class="f-slideshow__description {{ desc_size }}">
                  {{ block.settings.description }}
                </div>
              {% endunless %}
              <div class="f-slideshow__btn-group f-text-blocks__btn pointer-events-auto">
                {% liquid
                  assign button_style_1 = bs.button_style_1
                  assign button_style_2 = bs.button_style_2
                  if show_text_below and bs.button_style_1 == 'btn--white'
                    assign button_style_1 = 'btn--primary'
                  endif
                  if show_text_below and bs.button_style_2 == 'btn--white'
                    assign button_style_2 = 'btn--primary'
                  endif
                %}
                {% unless block.settings.button_text_1 == blank %}
                  <div class="f-slideshow__btn f-slideshow__btn-first">
                    <a
                      href="{{ block.settings.button_link_1 | default: "#" }}"
                      {% if bs.button_link_1 == blank %}
                        aria-disabled="true"
                      {% endif %}
                      class="btn {{ button_style_1 }} {{ block.settings.button_size_1 }}"
                    >
                      {{ block.settings.button_text_1 }}
                    </a>
                  </div>
                {% endunless %}
                {% unless block.settings.button_text_2 == blank %}
                  <div class="f-slideshow__btn f-slideshow__btn-second">
                    <a
                      href="{{ block.settings.button_link_2 | default: "#" }}"
                      {% if bs.button_link_2 == blank %}
                        aria-disabled="true"
                      {% endif %}
                      class="btn {{ button_style_2 }} {{ block.settings.button_size_2 }}"
                    >
                      {{ block.settings.button_text_2 }}
                    </a>
                  </div>
                {% endunless %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </slideshow-component>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "paragraph",
      "content": "[Read How-to](https://foxecom.link/k4rxrfP)"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container-full",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "select",
      "id": "slideshow_height",
      "label": "t:sections.slideshow.settings.slideshow_height.label",
      "default": "large",
      "options": [
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options.adapt",
          "value": "adapt"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options.small",
          "value": "small"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options.medium",
          "value": "medium"
        },
        {
          "label": "t:sections.slideshow.settings.slideshow_height.options.large",
          "value": "large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:sections.common.slider.show_dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "t:sections.common.slider.show_nav",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "max": 10,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 3,
      "visible_if": "{{ section.settings.autoplay == true }}"
    },
    {
      "type": "select",
      "id": "pagination_background",
      "label": "t:sections.common.slider.pagination_background.label",
      "options": [
        {
          "label": "t:sections.common.slider.pagination_background.options.option_1",
          "value": "dark"
        },
        {
          "label": "t:sections.common.slider.pagination_background.options.option_2",
          "value": "light"
        },
        {
          "label": "t:sections.common.slider.pagination_background.options.option_3",
          "value": "none"
        }
      ],
      "default": "light",
      "visible_if": "{{ section.settings.show_nav == true or section.settings.show_dots == true }}"
    },
    {
      "type": "select",
      "id": "controls_position",
      "label": "t:sections.common.slider.pagination_position_desktop.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.slider.pagination_position_desktop.options.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.common.slider.pagination_position_desktop.options.option_2"
        },
        {
          "value": "right",
          "label": "t:sections.common.slider.pagination_position_desktop.options.option_3"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.show_nav == true or section.settings.show_dots == true }}"
    },
    {
      "type": "select",
      "id": "pagination_style",
      "label": "t:sections.common.slider.pagination_style.label",
      "options": [
        {
          "label": "t:sections.common.slider.pagination_style.options.option_1",
          "value": "dots"
        },
        {
          "label": "t:sections.common.slider.pagination_style.options.option_2",
          "value": "counter"
        }
      ],
      "default": "dots",
      "visible_if": "{{ section.settings.show_dots == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.common.mobile.header"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": false
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "t:settings_schema.global.settings.content_alignment.mobile.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.content_alignment.option__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.content_alignment.option__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.content_alignment.option__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "Slideshow about our brand"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
    {
      "type": "header",
      "content": "t:settings_schema.animations.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_bg_zoom_effect",
      "label": "t:settings_schema.animations.settings.animation_bg.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide_item.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "background",
          "label": "t:sections.slideshow.blocks.slide_item.settings.image_desktop.label",
          "info": "t:sections.slideshow.blocks.slide_item.settings.image_desktop.info"
        },
        {
          "type": "image_picker",
          "id": "mb_background",
          "label": "t:sections.slideshow.blocks.slide_item.settings.image_mobile.label",
          "info": "t:sections.slideshow.blocks.slide_item.settings.image_mobile.info"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.slideshow.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header_content.content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:settings_schema.global.settings.content_position.label",
          "default": "center",
          "options": [
            {
              "label": "t:settings_schema.global.settings.content_position.option__1.label",
              "value": "left-top"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__2.label",
              "value": "center-top"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__3.label",
              "value": "right-top"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__4.label",
              "value": "left-middle"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__5.label",
              "value": "center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__6.label",
              "value": "right-middle"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__7.label",
              "value": "left-bottom"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__8.label",
              "value": "center-bottom"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__9.label",
              "value": "right-bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "t:settings_schema.global.settings.content_alignment.desktop.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:settings_schema.global.settings.content_alignment.option__1.label"
            },
            {
              "value": "center",
              "label": "t:settings_schema.global.settings.content_alignment.option__2.label"
            },
            {
              "value": "right",
              "label": "t:settings_schema.global.settings.content_alignment.option__3.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:settings_schema.global.settings.text_color_options.label",
          "default": "#000000"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.common.header.heading",
          "default": "Image slide"
        },
        {
          "type": "select",
          "id": "heading_size",
          "default": "h2",
          "label": "t:sections.common.text_size.heading.label",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.common.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.common.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.common.text_size.options__h1.label"
            },
            {
              "value": "h0",
              "label": "t:sections.common.text_size.options__h0.label"
            },
            {
              "value": "h-xl",
              "label": "t:sections.common.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.common.heading_color.label",
          "info": "t:sections.common.heading_color.info"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.common.header.subheading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.common.header.description",
          "default": "<p>Tell your brand's story through images</p>"
        },
        {
          "type": "select",
          "id": "desc_size",
          "label": "t:sections.common.description-size.label",
          "default": "text-desc-base",
          "options": [
            {
              "value": "text-desc-sm",
              "label": "t:sections.common.description-size.options.option__1"
            },
            {
              "value": "text-desc-base",
              "label": "t:sections.common.description-size.options.option__2"
            },
            {
              "value": "text-desc-lg",
              "label": "t:sections.common.description-size.options.option__3"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header_button_1.content"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "t:sections.common.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.common.button.button_url.label"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "t:sections.common.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.common.button.button_style.options.option__1"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.common.button.button_style.options.option__2"
            },
            {
              "value": "btn--white",
              "label": "t:sections.common.button.button_style.options.option__3"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.common.button.button_style.options.option__4"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_size_1",
          "label": "t:sections.common.button.button_size.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.common.button.button_size.options.option__1"
            },
            {
              "value": "btn--small",
              "label": "t:sections.common.button.button_size.options.option__2"
            },
            {
              "value": "btn--medium",
              "label": "t:sections.common.button.button_size.options.option__3"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header_button_2.content"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "t:sections.common.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.common.button.button_url.label"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "t:sections.common.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.common.button.button_style.options.option__1"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.common.button.button_style.options.option__2"
            },
            {
              "value": "btn--white",
              "label": "t:sections.common.button.button_style.options.option__3"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.common.button.button_style.options.option__4"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_size_2",
          "label": "t:sections.common.button.button_size.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.common.button.button_size.options.option__1"
            },
            {
              "value": "btn--small",
              "label": "t:sections.common.button.button_size.options.option__2"
            },
            {
              "value": "btn--medium",
              "label": "t:sections.common.button.button_size.options.option__3"
            }
          ],
          "default": ""
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.slideshow.blocks.slide_video.name",
      "settings": [
        {
          "type": "video",
          "id": "shopify_video",
          "label": "t:sections.slideshow.blocks.slide_video.settings.shopify_video"
        },
        {
          "type": "text",
          "id": "video_alt_text",
          "label": "t:sections.slideshow.blocks.slide_video.settings.video_alt"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.slideshow.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header_content.content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:settings_schema.global.settings.content_position.label",
          "default": "center",
          "options": [
            {
              "label": "t:settings_schema.global.settings.content_position.option__1.label",
              "value": "left-top"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__2.label",
              "value": "center-top"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__3.label",
              "value": "right-top"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__4.label",
              "value": "left-middle"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__5.label",
              "value": "center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__6.label",
              "value": "right-middle"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__7.label",
              "value": "left-bottom"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__8.label",
              "value": "center-bottom"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.option__9.label",
              "value": "right-bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "t:settings_schema.global.settings.content_alignment.desktop.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:settings_schema.global.settings.content_alignment.option__1.label"
            },
            {
              "value": "center",
              "label": "t:settings_schema.global.settings.content_alignment.option__2.label"
            },
            {
              "value": "right",
              "label": "t:settings_schema.global.settings.content_alignment.option__3.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:settings_schema.global.settings.text_color_options.label",
          "default": "#000000"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.common.header.heading",
          "default": "Video slide"
        },
        {
          "type": "select",
          "id": "heading_size",
          "default": "h1",
          "label": "t:sections.common.text_size.heading.label",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.common.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.common.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.common.text_size.options__h1.label"
            },
            {
              "value": "h0",
              "label": "t:sections.common.text_size.options__h0.label"
            },
            {
              "value": "h-xl",
              "label": "t:sections.common.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.common.heading_color.label",
          "info": "t:sections.common.heading_color.info"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.common.header.subheading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.common.header.description",
          "default": "<p>Tell your brand's story through images</p>"
        },
        {
          "type": "select",
          "id": "desc_size",
          "label": "t:sections.common.description-size.label",
          "default": "text-desc-base",
          "options": [
            {
              "value": "text-desc-sm",
              "label": "t:sections.common.description-size.options.option__1"
            },
            {
              "value": "text-desc-base",
              "label": "t:sections.common.description-size.options.option__2"
            },
            {
              "value": "text-desc-lg",
              "label": "t:sections.common.description-size.options.option__3"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header_button_1.content"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "t:sections.common.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.common.button.button_url.label"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "t:sections.common.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.common.button.button_style.options.option__1"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.common.button.button_style.options.option__2"
            },
            {
              "value": "btn--white",
              "label": "t:sections.common.button.button_style.options.option__3"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.common.button.button_style.options.option__4"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_size_1",
          "label": "t:sections.common.button.button_size.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.common.button.button_size.options.option__1"
            },
            {
              "value": "btn--small",
              "label": "t:sections.common.button.button_size.options.option__2"
            },
            {
              "value": "btn--medium",
              "label": "t:sections.common.button.button_size.options.option__3"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header_button_2.content"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "t:sections.common.button.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.common.button.button_url.label"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "t:sections.common.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.common.button.button_style.options.option__1"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.common.button.button_style.options.option__2"
            },
            {
              "value": "btn--white",
              "label": "t:sections.common.button.button_style.options.option__3"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.common.button.button_style.options.option__4"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_size_2",
          "label": "t:sections.common.button.button_size.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.common.button.button_size.options.option__1"
            },
            {
              "value": "btn--small",
              "label": "t:sections.common.button.button_size.options.option__2"
            },
            {
              "value": "btn--medium",
              "label": "t:sections.common.button.button_size.options.option__3"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
